<div id="div-banner">
  <h2 id="profile-logo">Pool Party!</h2>
  <img src="assets/nyc.jpg" alt="banner img" id="img-banner">
  <div id="nav">
    <a href="/new">Create Trip</a> | 
    <a href="/new">About Us</a> |
    <a href="/new">View All Trips</a> |
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
    <% end %>
  </div>
</div>
<div id="profile-div">
  <img src="assets/samurai.jpg" alt="face" id="profile-img">
</div>
<div id="profile-container">
  <div class="profile-content">
    <h2>Welcome, <%= current_user.username %>!</h2>
    <h3>The Bio</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, perspiciatis, illum, quas delectus nihil id minima tempora deleniti voluptatum vel sequi reiciendis cupiditate itaque ex molestias perferendis quibusdam voluptatibus explicabo!
    </p>
  </div>
  <div id="user-trips">
    <h2>My Trips!</h2>
    <table>
      <thead>
        <td>Date</td>
        <td>Time</td>
        <td>Location</td>
        <td>Destination</td>
        <td>Spaces</td>
      </thead>
      <% current_user.trips.each do |trip| %>
      <tbody>
        <tr>
          <td><%= trip.date %></td>
          <td><%= trip.time %></td>
          <td><%= trip.location %></td>
          <td><%= trip.destination %></td>
          <td><%= trip.spaces %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
<div id="trip-form" class="side-bar">
  <div class="form-container">
      <h2>Creating a new trip!</h2>
      <% trip = Trip.new %>
    <%= form_for trip do |f| %>
      <!-- Select a date: <input type="text" id="datepicker" /><br /> -->
      Pick a date: <%= f.date_field :date %><br />
      Select a time: <%= f.select :time, ["7:00am", "7:15am", "7:30am", "7:45am", "8:00am"] %><br />
      Select a location: <%= f.text_field :location %><br />
      Select a destination: <%= f.text_field :destination %><br />
      How many spaces are available: <%= f.text_field :spaces %><br />
      <%= f.submit %>
    <% end %>
  </div>
</div>
<div id="spacing-bottom"></div>




















