<div id="div-banner">
  <!-- <h2 id="profile-logo">Pool Party!</h2> -->
  <img src="assets/logo.png" id="logo" alt="logo">
  <img src="assets/nyc.jpg" alt="banner img" id="img-banner">
  <div id="nav">
    <a href="/index">About Us</a> |
    <a href="/profile/trips">View All Trips</a> |
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
    <% end %>
  </div>
</div>
<div id="profile-div">
  <img src="assets/samurai.jpg" id="profile-img" alt="">
</div>
<div id="profile-container">
  <div>
    <h2 class="header-font">
      Welcome, <%= current_user.username %>!
    </h2>
    <div class="profile-content">
      <p class="body-font">
        <%= current_user.firstname %></br>
        <%= current_user.lastname %></br>
        <%= current_user.phone %></br>
        <%= current_user.email %></br>

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, perspiciatis, illum, quas delectus nihil id minima tempora deleniti voluptatum vel sequi reiciendis cupiditate itaque ex molestias perferendis quibusdam voluptatibus explicabo!
      </p>
    </div>
  </div>
  <div>
    <h2 class="header-font">My Trips!</h2>
    <div class="profile-content">
      <table>
        <thead class="header-font">
          <td>Date</td>
          <td>Time</td>
          <td>Location</td>
          <td>Destination</td>
          <td>Spaces</td>
        </thead>
        <% current_user.trips.each do |trip| %>
        <tbody class="body-font">
          <tr>
            <td><%= trip.date %></td>
            <td><%= trip.time %></td>
            <td><%= trip.location %></td>
            <td><%= trip.destination %></td>
            <td><%= trip.spaces %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div id="trip-form" class="side-bar">
  <div class="form-container">
      <h2>Creating a new trip!</h2>
    <%= form_for @trip do |f| %>
      <!-- Select a date: <input type="text" id="datepicker" /><br /> -->
      Pick a date: <%= f.date_field :date %><br />
      Select a time: <%= f.select :time, ["7:00am", "7:15am", "7:30am", "7:45am", "8:00am"] %><br />
      Select a location: <%= f.text_field :location %><br />
      Select a destination: <%= f.text_field :destination %><br />
      How many spaces are available: <%= f.text_field :spaces %><br />
      <%= f.submit %>
    <% end %>
  </div>
</div>
<div id="spacing-bottom"></div>

<div id="edit-form">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>
    
    <div><%= f.label :firstname %><br />
      <%= f.text_field :firstname %></div>
    
    <div><%= f.label :lastname %><br />
      <%= f.text_field :lastname %></div>
    
    <div><%= f.label :phone %><br />
      <%= f.text_field :phone %></div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, :autocomplete => "off" %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>

    <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password %></div>

    <div><%= f.submit "Update" %></div>
  <% end %>
</div>


















