<div class="main-container">
  <div id='mask' class='close_modal'></div> 
  <div class="modal-window splash-modal" id="edit">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <table>
        <tr>
          <td><%= f.label :email %></td>
          <td><%= f.email_field :email, :value => @user.email %></td>
        </tr>
        
        <tr>
          <td><%= f.label :firstname %></td>
          <td><%= f.text_field :firstname, :value => @user.firstname %></td>
        </tr>
        
        <tr>
          <td><%= f.label :lastname %></td>
          <td><%= f.text_field :lastname, :value => @user.lastname %></td>
        </tr>
        
        <tr>
          <td><%= f.label :phone %></td>
          <td><%= f.text_field :phone, :value => @user.phone %></td>
        </tr>

        <tr>
          <td><%= f.label :password %></td>
          <td><%= f.password_field :password, :autocomplete => "off" %></td>
        </tr>

        <tr>
          <td><%= f.label :confirm_password %></td>
          <td><%= f.password_field :password_confirmation %></td>
        </tr>

        <tr>
          <td><%= f.label :current_password %><br><i>(to confirm changes)</i></td>
          <td><%= f.password_field :current_password %></td>
        </tr>
      </table>
        <%= f.submit "Update" %>
    <% end %>
  </div>
<div id="div-banner">
  <div id="nav">
    <span class="button-nav"><a href="/index">About Us</a></span> |
    <span class="button-nav"><a href="/profile/trips">View All Trips</a></span> |
    <% if user_signed_in? %>
      <span class="button-nav">
        <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
      </span>
    <% end %> |
    <span class="button-nav"><a href="#" class="modal" id="edit-link">Edit Profile</a></span>
  </div>
</div>
  <div class="profile-content">
    <% if user_signed_in? %>
      <img src="<%= avatar_url(current_user) %>" id="profile-img" alt="">
    <% end %>
    <h2 class="header-font">Welcome, <%= current_user.username %>!</h2>
    <p class="body-font">
      Lomo leggings selfies, banh mi four loko before they sold out pug readymade PBR&B raw denim dreamcatcher. Cardigan you probably haven't heard of them iPhone, Truffaut slow-carb Marfa forage viral organic photo booth lomo art party chia. Butcher post-ironic salvia, locavore banjo raw denim pour-over Godard gentrify DIY Tonx. Fanny pack actually Williamsburg, you probably haven't heard of them literally ugh stumptown Wes Anderson messenger bag. Four loko lo-fi McSweeney's, scenester tote bag fashion axe selfies squid sriracha seitan gentrify. Biodiesel tattooed retro, gentrify ennui High Life XOXO VHS direct trade Austin church-key. Hella small batch messenger bag, Austin fixie PBR&B post-ironic Tumblr chia Odd Future occupy jean shorts locavore wolf mumblecore.
    </p>
  </div>
  <div class="current-trips">
    <h2>You currently have: <%= @user.trips.length%> scheduled trips.</h2>
  </div>
  <div id="profile-container">
    <div>
      <div class="profile-content">
        <h2 class="header-font">My Trips!</h2>
        <table>
          <thead class="header-font">
            <td>Date</td>
            <td>Time</td>
            <td>Location</td>
            <td>Destination</td>
            <td>Spaces</td>
          </thead>
          <% current_user.trips.each do |trip| %>
          <tbody class="body-font">
            <tr>
              <td><%= trip.date %></td>
              <td><%= trip.time %></td>
              <td><%= trip.location %></td>
              <td><%= trip.destination %></td>
              <td><%= trip.spaces %></td>
              <td data-trip_id="<%= trip.id %>" class="delete">Delete</td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div id="trip-form" class="side-bar">
    <div class="form-container">
      <h2>Creating a new trip!</h2>  
      <%= form_for @trip do |f| %>
        <table><!-- Select a date: <input type="text" id="datepicker" /><br /> -->
          <tr><td>Pick a date:</td><td><%= f.date_field :date %></td></tr>
          <tr><td>Select a time:</td><td><%= f.select :time, ["5:00am", "5:30am", "6:00am", "6:30am", "7:00am", "7:30am", "8:00am", "8:30am", "9:00am", "9:30am", "10:00am", "10:30am", "11:00am", "11:30am", "12:00pm", "12:30pm", "1:00pm", "1:30pm", "2:00pm", "2:30pm", "3:00pm", "3:30pm",  "4:00pm", "4:30pm",  "5:00pm", "5:30pm",  "6:00pm", "6:30pm",  "7:00pm", "7:30pm", "8:00pm", "8:30pm",  "9:00pm", "9:30pm",  "10:00pm", "10:30pm",  "11:00pm", "11:30pm",  "12:00am"] %></td></tr>
          <tr>
            <td>Starting Location:</td>
            <td><%= f.text_field :location %></td>
          </tr>
          <tr>
            <td>Destination:</td>
            <td><%= f.text_field :destination %></td>
          </tr>
          <tr>
            <td>Spaces available:</td>
            <td><%= f.text_field :spaces %></td>
          </tr>
        </table>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
<!--   <div id="spacing-bottom"></div> -->
</div>
