<div id="div-banner">
</div>

<div id="trip-container">
	<div class="trip-table">
		<table>
      <h2>Total Available <span class="not-depressing">Trips</span>:</h2>
			<thead class="table-headers">
				<td>Date</td>
				<td>Time</td>
				<td>Location</td>
				<td>Destination</td>
				<td>Spaces</td>
			</thead>
		<% @trips.each do |trip| %>
			<tbody>
				<tr class="trips" data-trip_id="<%= trip.id %>" data-user_id="<%= trip.user_id %>">
					<td><%= trip.date %></td>
					<td><%= trip.time %></td>
					<td><%= trip.location %></td>
					<td><%= trip.destination %></td>
					<td><%= trip.spaces %></td>
					<td class="request" >Request a Ride!</td>
				</tr>
			</tbody>
		<% end %>
		</table>
	</div>
	<div id="show-trip">
	</div>
<!--   create_table "trips", force: true do |t|
    t.string   "date",        null: false
    t.string   "time",        null: false
    t.string   "location",    null: false
    t.string   "destination", null: false
    t.integer  "spaces",      null: false
    t.text     "info"
    t.integer  "user_id" -->