<div id="main-container">
  <div id="splash-first">
    <div id="splash-home">
      <h1>IT'S A POOL PARTY!</h1>
      <div class="sign-in">
      <table>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

          <tr>
            <td><%= f.label "E-mail: " %></td>
            <td><%= f.email_field :email, :autofocus => true %></td>
          </tr>
          <tr>
            <td><%= f.label "Password: " %></td>
            <td><%= f.password_field :password %></td>
          </tr>
      </table>
      </div>
        <div class="sign-in">
          <%= f.submit "Sign in", :class => "form-button" %>
        </div>
      <% end %>

      <span class="button" id="button-aboutus">About Us</span>
    </div>
    <div>
      <video id="example-video-1" class="video-js vjs-default-skin splash"
        preload="auto" loop="true" autoplay preload="auto" height="550" width="100%"
        poster=""
        data-setup='{"example_option":true}' muted="true">
        <source src="assets/lapse2.mp4" type='video/mp4' />
        <source src="assets/lapse2.webm" type='video/webm' />
        <source src="assets/lapse2.ogv" type='video/ogg' />
      </video>
    <div>
  </div>
  <div id="splash-second">
    <div id="splash-about">
      <p>
        During the day, commuters from the other boroughs and outside the city nearly double Manhattan’s population, from 1.6 million to 3.1 million.

        Over all, the net gain in people due to commuting swells New York City’s weekday population by about 608,000, or nearly as many people as live in Baltimore. (The citywide increase is smaller than the Manhattan figure because so many city residents outside Manhattan leave their home borough to work.)
      </p>
      <span class="button" id="button-signup">Sign up</span>
    </div>
  </div>
  <div id="splash-third">
    <div id="splash-signup">
    	<h2>Sign up for Pool Party!</h2>
      <table>
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  			<%= devise_error_messages! %>
			  <tr>
          <td><%= f.label "firstname: " %></td>
          <td><%= f.text_field :firstname %></td>
        </tr>  
        <tr>
			  <td><%= f.label "lastname: " %></td>
			  <td><%= f.text_field :lastname %></td>
        </tr>
        <tr>
			  <td><%= f.label "username: " %></td>
			  <td><%= f.text_field :username %></td>
        </tr>
        <tr>
			  <td><%= f.label "email: " %></td>
			  <td><%= f.email_field :email %></td>
        </tr>
			  <tr>
          <td><%= f.label "phone: " %></td>
          <td><%= f.text_field :phone %></td> 
        </tr>
			  <tr>
          <td><%= f.label "password: " %></td>
          <td><%= f.password_field :password %></td>
        </tr>
			  <tr>
          <td><%= f.label "Confirm password: " %></td>
          <td><%= f.password_field :password_confirmation %></td>
        </tr>
      </table>
      <div class="sign-in"><%= f.submit "Sign up", :class => 'form-button' %></div>
      <% end %>
    </div>
  </div>

</div>


