<!DOCTYPE html>
<html>
<head>
  <title>Poolparty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//vjs.zencdn.net/4.2/video-js.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/4.2/video.js"></script>
</head>
<body>
	<% if user_signed_in? %>
		<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
	<% end %>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
