<!DOCTYPE html>
<html>
<head>
  <title>Poolparty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//vjs.zencdn.net/4.2/video-js.css" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
  <script src="//vjs.zencdn.net/4.2/video.js"></script>
</head>
<body>
  <span id="main-div">
  	<p class="notice" id="notice"><%= notice %></p>
  	<p class="alert" id="alert"><%= alert %></p>
  <%= yield %>
  </span>
</body>
</html> 

